.cardsContainder {
  position: relative;
  display: grid;
  grid-template-columns: minmax(200px, 220px);
  grid-template-rows: repeat(2, 100px);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid rgb(255, 255, 255) !important;
}

.imagesCarousel {
  position: relative;
  width: 100%;
  height: 210px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  overflow: hidden;
}

.productBody {
  width: 100%;
  height: 50%;
}

@media (max-width: 510px) {
  .cardsContainder {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 186px;
    align-items: flex-end;
    min-width: 375px !important;
    justify-content: center;
    margin: 0 auto;
  }

  .imagesCarousel {
    width: 100% !important;
    height: 100%;
  }
  .productBody {
    width: 100% !important;
    height: 100%;
  }
}
